{% extends "base1.html" %}
{% load static %}
{% block page_content %}

<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>Building</h2>
      <a href="#" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
             <img src="{% static 'assets/img/about2.jpg' %}" alt="About" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3> Back ground of the school</h3>
            <p class="fst-italic">
              The mission of St Lawrence Girls Catholic Secondary School is to inculcate in learners the attitude and knowledge which will help them become useful and productive citizens of Malawi.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <b> Established in</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
              <li><i class="bi bi-check-circle"></i> <b> Some more info</b>: Sed euismod, nulla vel facilisis fringilla, sapien justo luctus orci, non imperdiet sem est non odio. Nulla facilisi.</li>
              <li><i class="bi bi-check-circle"></i><b> Alittle more</b> Sed euismod, nulla vel facilisis fringilla, sapien justo luctus orci, non imperdiet sem est non odio. Nulla facilisi.</li>
            </ul>
            <p>
              
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

       

      <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>our vision</h3>
              <p>
                Our vision for our school is to be a place where girls can grow in faith, knowledge, and service. We aim to provide a
        
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>MISSION</h4>
                    <p>To provide quality and relevant education to the malawian nation</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>MANDATE</h4>
                    <p>To promote education in malawi, irrespective of race, ethnicity, religion, gender or any other discriminatory characteristics</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>VISION</h4>
                    <p>To be a catalyst for social economic development, religious and industrial growth</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->



   <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos=" ">

        <div class="section-title">
          <h2>news & events</h2>
          <p>recent updates</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'assets/img/news.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Content</h4>
                </div> 
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="{% static 'assets/img/students.jpg'  %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Content</h4>
                </div> 
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
             
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="{% static 'assets/img/news.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Content</h4>
                </div>  
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->


    <section id="trainers" class="trainers">
      <div class="container" data-aos=" ">
           <div class="section-title">
              <h2>adminstration</h2>
              <p>board of governers</p>
            </div>


    
    <!-- Board of governers slider-->



<div class="container">
    <div class="row">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for board in members %}
      {% if forloop.counter0|divisibleby:3 %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <div class="row">
      {% endif %}
            <div class="col-md-4">
              <!-- card code here -->
              <div class="card">

                  <div class="member">
              <img src="{{ board.image.url }}" class="img-fluid img-thumbnail" alt="">
              <div class="member-content">
                <h4>{{ board.name }}</h4>
                <span><i><strong>{{ board.position }}</strong></i></span>
                <p>{{ board.description|safe|striptags|truncatechars:200 }}</p>
                
              </div>
            </div>
       </div>
            </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

  </div>
</div>
        
    </div>
    
</div>

            
      </div>
    </section>

    {% endblock %}        

